name: CI

on:
  push:
    tags:
      - v*
  pull_request:
    branches: ["main"]

jobs:
  check-python-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Setup UV
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: Install dependencies
        run: |
          uv pip install --system black==24.* flake8==7.* flake8-pyproject==1.* isort==5.*

      - name: Check code format with Black
        run: |
          black --check ctc_forced_aligner/*.py

      - name: Check imports order with isort
        run: |
          isort --check-only ctc_forced_aligner/*.py

      - name: Check code style with Flake8
        run: |
          flake8 ctc_forced_aligner/*.py

  build-python-wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022, macos-14]
        arch: [auto64]
        include:
          - os: ubuntu-22.04
            arch: aarch64
          - os: windows-2022
            arch: ARM64

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: docker/setup-qemu-action@v3
        if: ${{ matrix.arch == 'aarch64' }}
        name: Set up QEMU

      - name: Setup UV
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22
        with:
          output-dir: python/wheelhouse
        env:
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
          CIBW_MANYLINUX_AARCH64_IMAGE: manylinux2014
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_SKIP: pp* *-musllinux_*
          CIBW_BUILD_FRONTEND: "build[uv]"

      - name: Upload Python wheels
        uses: actions/upload-artifact@v4
        with:
          name: python-wheels-${{ runner.os }}-${{ matrix.arch }}
          path: python/wheelhouse

  publish-to-github-release:
    needs: [build-python-wheels]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download Python wheels
        uses: actions/download-artifact@v4
        with:
          pattern: python-wheels-*
          merge-multiple: true
          path: wheels

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: wheels/*
          generate_release_notes: true
